<div class="space-y-4">
    <section data-animate="terms" class="bg-white p-6 space-y-6">
        <!-- Sightseeing -->
        <section>
            <h2 class="text-xl md:text-2xl font-bold text-red-500 border-b pb-3"> Sightseeing</h2>
            <div class="space-y-3">
                <div *ngFor="let sights of sightseeing"
                    class="flex items-center gap-3 bg-red-50/70 rounded-lg px-4 py-2 shadow-sm hover:shadow-md transition">
                    <span class="text-red-600 text-xl">🧳</span>
                    <span class="text-gray-800 font-medium">{{ sights }}</span>
                </div>
            </div>
        </section>

        <!-- Inclusions -->
        <section>
            <h2 class="text-xl md:text-2xl font-bold text-red-500 border-b pb-3">Inclusions</h2>
            <div class="grid grid-cols-1 sm:grid-cols-2 md:grid-cols-3 gap-4">
                <div *ngFor="let item of inclusions"
                    class="flex items-center gap-3 bg-red-50/70 rounded-lg px-4 py-2 shadow-sm hover:shadow-md transition">
                    <span class="text-red-600 text-xl">✔</span>
                    <span class="text-gray-800 font-medium">{{ item }}</span>
                </div>
            </div>
        </section>

        <!-- Exclusions -->
        <section>
            <h2 class="text-xl md:text-2xl font-bold text-red-500 border-b pb-3">Exclusions</h2>
            <div class="grid grid-cols-1 sm:grid-cols-2 md:grid-cols-3 gap-4">
                <div *ngFor="let item of exclusions"
                    class="flex items-center gap-3 bg-red-50/70 rounded-lg px-4 py-2 shadow-sm hover:shadow-md transition">
                    <span class="text-red-500 text-xl">✖</span>
                    <span class="text-gray-800 font-medium">{{ item }}</span>
                </div>
            </div>
        </section>

        <!-- Child Policy -->
        <!-- <div>
            <h2 class="text-3xl font-bold text-gray-900 mb-3 border-b pb-3">Child Policy</h2>
            <div class="flex flex-wrap gap-4">
                <div *ngFor="let policy of childPolicy"
                    class="flex items-center gap-2 px-4 py-2 bg-red-50/70 rounded-xl font-medium text-gray-800 hover:bg-red-100 shadow-sm transition cursor-pointer">
                    <span class="text-red-500 text-lg">🎯</span>
                    <span>{{ policy }}</span>
                </div>
            </div>
        </div> -->

        <!-- Special Offers -->
        <section>
            <h2 class="text-xl md:text-2xl font-bold text-red-500 border-b pb-3 mb-2">Special Offers</h2>
            <div class="flex flex-wrap gap-4">
                <div *ngFor="let offer of specialOffers"
                    class="px-4 py-2 rounded-2xl border-red-200 outline-4 font-medium text-gray-800 hover:bg-red-100 shadow-sm transition cursor-pointer">
                    {{ offer }}
                </div>
            </div>
        </section>
        <hr>
    </section>

    <!-- Supplemental Attractions -->
    <section class="bg-white rounded-2xl shadow-xl px-6">
        <h2 class="text-xl md:text-2xl font-bold mb-2 text-red-500">
            <span class="bg-red-100 text-red-600 p-2 rounded-full mr-4">📌</span> Supplemental Attractions
        </h2>

        <!-- <div class="mt-10 px-4">
            <div class="grid grid-cols-1 sm:grid-cols-2 lg:grid-cols-3 gap-6">
                <div *ngFor="let attraction of details; let i = index"
                    class="relative rounded-2xl overflow-hidden shadow-md hover:shadow-xl transition flex flex-col h-full"
                    data-aos="fade-up" [attr.data-aos-delay]="i * 100">
                    <div class="relative h-64 w-full">
                        <img [src]="attraction.img" [alt]="attraction.name" class="w-full h-full object-cover">
                        <div class="absolute top-3 left-3 flex gap-2">
                            <span *ngIf="attraction.featured"
                                class="bg-red-500 text-white text-xs font-semibold px-3 py-1 rounded-full">Featured
                            </span>
                        </div>
                        <div class="absolute top-3 right-3 bg-white p-1 rounded-full shadow hover:bg-gray-100">
                            <div class="flex items-center gap-1 text-sm text-red-400">
                                {{ attraction.rating }}
                            </div>
                        </div>
                    </div>
                    <div
                        class="p-4 flex flex-col flex-grow justify-between bg-gradient-to-t from-black/70 via-black/30 to-transparent absolute bottom-0 w-full">
                        <div class="flex justify-between items-center text-white text-sm mb-2">
                            <h3 class="text-lg font-semibold text-white mb-3"> {{ attraction.name }} </h3>
                        </div>
                        <div class="flex items-center gap-1 text-white mr-5"> {{ attraction.subtitle }} </div>
                        <div class="flex justify-between items-center text-white text-sm">
                            <div class="flex items-center gap-4">
                                <span *ngIf="attraction.people">
                                {{ attraction.people }}</span>
                                <span>
                                    {{ attraction.location }}
                                </span>
                            </div>
                            <span class="text-lg font-bold mr-5">${{ attraction.cost }}</span>
                        </div>
                    </div>
                </div>
            </div>
        </div> -->
        <div class="grid grid-cols-1 sm:grid-cols-2 lg:grid-cols-3 gap-8 mt-8">
            <div *ngFor="let attraction of details; let i = index" class="bg-white rounded-lg overflow-hidden flex flex-col h-full border border-gray-200 
                  hover:shadow-lg hover:border-red-400 transition-all duration-300 ease-in-out">
                <div class="h-48 w-full relative">
                    <img [src]="attraction.img" alt="{{ attraction.name }}" class="w-full h-full object-cover">
                    <div class="absolute inset-0 bg-black opacity-0 hover:opacity-10 transition-opacity duration-300">
                    </div>
                </div>
                <div class="flex flex-col flex-grow p-5">
                    <h4 class="text-xl font-semibold mb-2 text-gray-800 mt-0">
                        {{ attraction.name }}
                    </h4>
                    <div
                        class="grid grid-cols-2 gap-x-4 gap-y-2 text-sm text-gray-500 pt-2 border-t border-gray-100 mt-auto">
                        <div class="flex items-center">
                            <span>💲{{ attraction.cost }}</span>
                        </div>
                        <div class="flex">
                            <span>📍 {{ attraction.location }}</span>
                        </div>
                    </div>
                    <p class="text-gray-600 text-sm mb-4 flex-grow">
                        {{ attraction.subtitle }}
                    </p>
                </div>
            </div>
        </div>
    </section>

    <!-- <section data-animate="condition" class="bg-white rounded-2xl shadow-xl space-y-8">
        //Inclusions & Exclusions 
        <div class="grid md:grid-cols-2 gap-8">
            <section data-animate="inclusions" class="bg-white rounded-2xl  rounded-r-sm shadow-md p-8">
                <h2 class="text-3xl font-bold text-gray-900 mb-6 flex items-center">
                    <span class="bg-red-100 text-red-600 p-3 rounded-full mr-4">✅</span>
                    Services Included
                </h2>
                <ul class="space-y-3">
                    <li *ngFor="let inclusion of inclusions"
                        class="flex items-start space-x-3 p-3 bg-red-50 rounded-lg">
                        <span class="text-red-500 mt-1">✓</span>
                        <span class="text-gray-800">{{ inclusion }}</span>
                    </li>
                </ul>
            </section>
            <section data-animate="exclusions" class="bg-white rounded-2xl rounded-l-sm shadow-md p-8">
                <h2 class="text-3xl font-bold text-gray-900 mb-6 flex items-center">
                    <span class="bg-red-100 p-3 rounded-full mr-4">❌</span>
                    Services Excluded
                </h2>
                <ul class="space-y-3">
                    <li *ngFor="let exclusion of exclusions"
                        class="flex items-start space-x-3 p-3 bg-red-50 rounded-lg">
                        <span class="text-red-500 mt-1">✗</span>
                        <span class="text-gray-800">{{ exclusion }}</span>
                    </li>
                </ul>
            </section>
        </div>

    </section>

    //Child Policy 
    <section data-animate="child-policy" class="bg-white rounded-2xl shadow-xl p-8">
        <h2 class="text-3xl font-bold text-gray-900 mb-6 flex items-center">
            <span class="bg-red-100 text-red-600 p-3 rounded-full mr-4">👶</span>
            Child Policy
        </h2>
        <div class="space-y-3">
            <div *ngFor="let policy of childPolicy" class="p-4 bg-red-50 rounded-lg border border-red-200">
                <p class="text-gray-800">{{ policy }}</p>
            </div>
        </div>
    </section>

    <section data-animate="offers" class="bg-white rounded-2xl shadow-xl p-8 mt-8">
        <h2 class="text-3xl font-bold text-gray-900 mb-6 flex items-center">
            <span class="bg-red-100 text-red-600 p-3 rounded-full mr-4">💝</span>
            Special Offers
        </h2>
        <div class="space-y-3">
            <div *ngFor="let offer of specialOffers" class="p-4 bg-white rounded-lg border border-red-200">
                <p class="text-gray-800 flex items-center">
                    <span class="text-red-500 mr-3">🎁</span>
                    {{ offer }}
                </p>
            </div>
        </div>
    </section> -->
</div>